* ,*::after,*::before{
    box-sizing: border-box; 
    margin:0;
  }

  :root
  {
      --blacka:#161616;
      --blackb:#0a0a0a;
      --orange:#f86d0a;
  }

.container{
    background: var(--blacka);
    display:grid;
    grid-template:
        "start" 100vh
        "pro" 100vh
        "w1" 80vh
        "b1" 80vh
        "w2" 80vh
        "epi" 80vh /
        1fr 
}

@media (min-width:868px){
    .container{
        grid-template:
            "start pro" 92vh
            "w1 w1" 80vh
            "b1 b1" 80vh
            "w2 w2" 80vh
            "epi epi" 80vh /
            50% 50%
    }
}
/*
================
     Font
================
 */

.white{
    color:azure;
}

.black{
    color:var(--blackb);
}

.cen{
    display: block;
    width:100%;
    margin: 0 auto;
    padding-block:2rem;
    text-align: center;
}

/*
================
     Header
================
 */



header{
    background: var(--blackb);
    padding:1.5em;
    display: flex;

}

@media (max-width: 600px) {
    header {
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }
  }
header h4{
    padding-left: 10%;
    color:whitesmoke;
    letter-spacing: .3em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    font-weight: 200;
}

header span.dot
{
    font-weight:bold;
}

nav{
    padding-right: 10%;
    padding-top: 10px;
    flex-grow: 1;
    /* background: wheat; */
}

.nav_list{
    list-style: none;
    display: flex;
    float:right;
    gap:1.5em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_list a{
    color:white;
    text-decoration: none;
}

.nav_list a:hover{
    color:var(--orange);
    text-decoration: none;
    transition: .3s;
}


/*
================
     Sections
================
 */

 .start{
    grid-area: start;
    background-image:url("D:\\Google Classroom\\4th year\\Web Programming Lab\\Web App\\media\\flower pot.png") ;
    background-position:center;
    background-size: cover;
    background-color: rgb(0, 167, 233);
}

.flower{
    width:fit-content;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro{
    grid-area: pro;
    display: flex;
    flex-grow: 1;
    font-size: 1rem;
    padding: 1em;
    align-items: center;
}

.pro h1{
    margin: 0 auto;
    transform: translateY(-20%);
    text-transform: uppercase;
    padding:10px;

    font-family: 'Holtwood One SC', serif;
    font-size: 4rem;
    
}

.pro h1::after{
    display: block;
    content:"";
    width: 1em;
    height: .5rem;
    background: #fff;

}

.w1{
    background: #fff;
    grid-area: w1;
}


.w2{
    background: #fff;
    grid-area: w2;
}

.b1{
    background: #000;
    grid-area: b1;
}
.image{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}


/*
================
     About Page
================
 */
 .abt--con {
    position: relative;
    width: 100%;
}



 .abt--evl{
     display: block;
     width:100%;
     height:100%;
     margin-top: 5%;
     overflow: hidden;
}

.abt--img{
    /* background: #f00; */
    display:block;
    margin-inline: auto;
    margin-bottom: -10%;
    margin-top: -5%;
    width:85%;
    object-fit: cover;
    filter: sepia(1);
    opacity: .96;
}

.abt--over {
    position: absolute;
    margin-inline: auto;
    right: 0;
    bottom:0;
    width: 85%;
    left:0;
    height: 100%;

    opacity: 0;
    overflow: hidden;
    background-color: #0a0a0a;

    text-transform: uppercase;
  }

  .abt--con:hover .abt--over{
    transition:.5s ease-in-out;
    opacity:.98;
  }
  
.abt--content{
    max-width: 100%;
    height: 100%;
    /* background: #00f; */
    margin:1rem 4rem;
    display: flex;
    gap:5rem;
}
.smile--con{
    width:36%;
    height: 45%;
    background:#f00;
}
  
.smile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ser{
    text-align: right;
    text-transform:capitalize;
    transform: translateY(-30px);
    color: var(--orange);
}

.abt--txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    word-spacing: 4px;
}

.abt--small{
    max-width: 70%;
    font-size: 1rem;
    margin-top: 1em;
    line-height: 1.5rem;
}


/*
================
  Gallery Page
================
 */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



.lite{
    opacity: .6;
}

.gal--head{
    font-family: 'Cardo', serif;
    padding:0;
    font-style: italic;
    font-size: 1.3rem;
    letter-spacing: 0em;
    font-weight: 100;
    
}

.gal--grid-con
{
    background: var(--blacka);
    min-height: 100vh;
    padding-top:1%;
    padding-right: .5rem;
    margin-left:-3vw;

}

.gal--grid{
    --grid-min-size:16rem;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
    grid-gap: .3rem;

}

li {
    list-style: none;
    padding: minmax(5rem,100vw) 0rem;
    width:100%;
    min-height: 200px;
    /* background: #f86d0a; */
}
