* ,*::after,*::before{
    box-sizing: border-box;
    margin:0;
  }

  :root
  {
      --blacka:#161616;
      --blackb:#0a0a0a;
  }

.container{
    background: var(--blacka);
    display:grid;
    grid-template:
        "start" 100vh
        "pro" 100vh
        "w1" 80vh
        "b1" 80vh
        "w2" 80vh
        "epi" 80vh /
        1fr 
}

@media (min-width:860px){
    .container{
        grid-template:
            "start pro" 100vh
            "w1 w1" 80vh
            "b1 b1" 80vh
            "w2 w2" 80vh
            "epi epi" 80vh /
            50% 50%
    }
}
/*
================
     Font
================
 */

.white{
    color:azure;
}

.black{
    color:var(--blackb);
}
/*
================
     Header
================
 */


header{
    background: var(--blackb);
    padding:1.5em;
    display: flex;
    position: relative;
}

@media (max-width: 600px) {
    header {
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }
  }
header h4{
    padding-left: 10%;
    color:whitesmoke;
    letter-spacing: 3px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    font-weight: 200;
}

header span.dot
{
    font-weight:bold;
}

nav{
    padding-right: 10%;
    padding-top: 10px;
    flex-grow: 1;
    /* background: wheat; */
}

.nav_list{
    list-style: none;
    display: flex;
    float:right;
    gap:1.5em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_list a{
    color:white;
    text-decoration: none;
}

.nav_list a:hover{
    color:chocolate;
    text-decoration: none;
    transition: .3s;
}


/*
================
     Sections
================
 */

 .start{
    grid-area: start;
}

.pro{
    grid-area: pro;
}

.w1{
    background: #fff;
    grid-area: w1;
}


.w2{
    background: #fff;
    grid-area: w2;
}

.b1{
    background: #000;
    grid-area: b1;
}
.image{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}